.logo1{color:#fff!important;background-color:#fde2c7!important;font-size:3em!important;font-family:'Open Sans Condensed',sans-serif;padding:2vw 15vw;top:30px;top:20px;position:relative;text-align:center}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
